:root {
  --cmplz_banner_width: 526px;
  --cmplz_banner_background_color: #f9f9f9;
  --cmplz_banner_border_color: #f9f9f9;
  --cmplz_banner_border_width: 0px 0px 0px 0px;
  --cmplz_banner_border_radius: 0px 0px 0px 0px;
  --cmplz_banner_margin: 10px;
  --cmplz_categories-height: 163px;
  --cmplz_title_font_size: 15px;
  --cmplz_text_line_height: calc(var(--cmplz_text_font_size) * 1.5);
  --cmplz_text_color: #3d3d3d;
  --cmplz_hyperlink_color: #3d3d3d;
  --cmplz_text_font_size: 12px;
  --cmplz_link_font_size: 12px;
  --cmplz_category_body_font_size: 12px;
  --cmplz_button_accept_background_color: #3d3d3d;
  --cmplz_button_accept_border_color: #3d3d3d;
  --cmplz_button_accept_text_color: #ffffff;
  --cmplz_button_deny_background_color: #f1f1f1;
  --cmplz_button_deny_border_color: #f1f1f1;
  --cmplz_button_deny_text_color: #3d3d3d;
  --cmplz_button_settings_background_color: #f1f1f1;
  --cmplz_button_settings_border_color: #3d3d3d;
  --cmplz_button_settings_text_color: #3d3d3d;
  --cmplz_button_border_radius: 5px 5px 5px 5px;
  --cmplz_button_font_size: 15px;
  --cmplz_category_header_always_active_color: green;
  --cmplz_category_header_title_font_size: 14px;
  --cmplz_category_header_active_font_size: 12px;
  --cmplz-manage-consent-height: 50px;
  --cmplz-manage-consent-offset: -35px;
  --cmplz_slider_active_color: #21759b;
  --cmplz_slider_inactive_color: #f56e28;
  --cmplz_slider_bullet_color: #ffffff;
}
@-webkit-keyframes mc_slideIn {
  100% {
    bottom: 0;
  }
}
@keyframes mc_slideIn {
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes mc_slideOut {
  100% {
    bottom: var(--cmplz-manage-consent-offset);
  }
}
@keyframes mc_slideOut {
  100% {
    bottom: var(--cmplz-manage-consent-offset);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
